---
import { Image } from 'astro:assets'
import { Button, Card, Icon, Label, Spoiler } from '@/components/user'
import GitHubActivityCalendar from '@/components/home/GitHubActivityCalendar.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import BlogStats from '@/components/home/BlogStats.astro'
import { getBlogCollection, sortMDByDate } from '@/utils/server.ts'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'
const MAX_POSTS = 3
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
import { PostPreview } from '@/components/pages'
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB966'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <div class='flex flex-row items-center gap-x-6'>
        <Image
          src={avatar}
          alt='profile'
          class='h-36 w-auto rounded-lg border p-1'
          loading='eager'
        />
        <div class='flex flex-col gap-y-4'>
          <h1 class='text-3xl font-bold'>{config.author}</h1>
          <div class='flex flex-wrap gap-x-1 gap-y-1'>
            {config.personal?.location && (
              <Label title={config.personal.location}>
                <Icon name='location' class='size-4' slot='icon' />
              </Label>
            )}
            {config.personal?.githubUsername && (
              <Label
                title='Github'
                as='a'
                href={`https://github.com/${config.personal.githubUsername}`}
                target='_blank'
              >
                <Icon name='github' class='size-4' slot='icon' />
              </Label>
            )}
            {config.personal?.email && (
              <Label title='Email' as='a' href={`mailto:${config.personal.email}`}>
                <Icon name='email' class='size-4' slot='icon' />
              </Label>
            )}
            {config.personal?.googleScholar && (
              <Label title='Scholar' as='a' href={config.personal.googleScholar}>
                <Icon name='earth' class='size-4' slot='icon' />
              </Label>
            )}
          </div>
        </div>
      </div>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>学生/<Spoiler>老苕皮</Spoiler></p>
        <p class='text-muted-foreground'>
          一名来自中国科学技术大学(USTC)少年班学院(SGY)，人工智能专业，24级学生。目前正在<a href="https://alphalab-ustc.github.io/index.html" target="_blank" rel="noopener">Alpha-Lab</a>进行生成式推荐的研究，热衷于探索各种AI算法背后的深刻的哲学原理。
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='中国科学技术大学'
          subheading='少年班学院，人工智能专业，本科'
          date='Sept 2024 - Present'
          href='https://www.ustc.edu.cn/'
        >
        </Card>
      </Section>
      <Section title='Statistics'>
        <BlogStats blogStartDate={config.personal?.blogStartDate ? new Date(config.personal.blogStartDate) : new Date('2024-06-15')} />
      </Section>
      {config.personal?.githubUsername && (
        <GitHubActivityCalendar username={config.personal.githubUsername}/>
      )}
    </div>
  </main>
</PageLayout>
